################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Chess/v15/sqlite3
/Chess/bin/Debug
/Chess/obj/Debug
/.vs/Chess/v15
